<% provide(:title, 'Who We Serve') %>

<head>
	<script type="text/javascript">
		$(function() {
		$('.client-info').hide();

$('.link').click(function() {
    $('.client-info').hide();
    $('.client-info[data-link=' + $(this).data('link') + ']').fadeIn({
        width: '200px'
    }, 300);
	});
});
	</script>
</head>

<body>
<div id="who-we-serve-container">
	<div id="who-we-serve-linklist">
   	<ul>
   			<li class="who-we-serve-head-link">We proudly serve the following production houses:</li>
      	<li><a class="link" data-link="first" href="#">client 1</a></li>
      	<li><a class="link" data-link="second" href="#">client 2</a></li>
      	<li><a class="link" data-link="third" href="#">client 3</a></li>
    </ul>
  </div>

<div class="client-info-container">
	<div class="client-info" data-link="first" >
		<h6>Music Production Client 1</h6>
		<div class="client-main-img" id="client-1-main-img"></div>
		<div>
			<a href='#' onclick = "document.getElementById('client-1-main-img').style.backgroundImage = 'url(http://kentwellsproductions.com/assets/pages/Headphones%20piano%20music%20for%20ads.jpg)';">
				<div class="client-thumb-1" id="client-1-thumb-1"></div>
			</a>
			<a href='#' onclick = "document.getElementById('client-1-main-img').style.backgroundImage = 'url(http://dynamicproducer.com/wp-content/uploads/2012/08/MusicProductionKnobs.jpg)';">
				<div class="client-thumb-2" id="client-1-thumb-2"></div>
			</a>
			<a href='#' onclick = "document.getElementById('client-1-main-img').style.backgroundImage = 'url(http://diskmusic.com/wp-content/uploads/2012/09/338_16.jpg)';">
				<div class="client-thumb-3" id="client-1-thumb-3"></div>
			</a>
			<p>Lorem ipsum dolor sit amet, cu eros eligendi mea, sea expetendis persequeris accommodare ut, mel saepe partiendo disputando ut. Eum numquam phaedrum ne, eu graece vocibus fabellas mel. Eu prompta maluisset elaboraret mei, sed et amet ferri reprimique, justo omnesque moderatius eu eum. Sit sensibus mnesarchum at, et pri molestie oportere. Agam nullam delicatissimi ex qui. Interesset appellantur eos ex, vis eu exerci utamur eruditi.</p>
		</div>
	</div>
	<div class="client-info" data-link="second" >
		<h6>Music Production Client 2</h6>
		<div class="client-main-img" id="client-2-main-img"></div>
		<div>
			<a href='#' onclick = "document.getElementById('client-2-main-img').style.backgroundImage = 'url(http://musicintersection.com/wp-content/uploads/2012/07/slider-1.jpg)';">
				<div class="client-thumb-1" id="client-2-thumb-1"></div>
			</a>
			<a href='#' onclick = "document.getElementById('client-2-main-img').style.backgroundImage = 'url(http://mtsmusicgroup.weebly.com/uploads/1/3/1/8/13182189/6328577_orig.jpg)';">
				<div class="client-thumb-2" id="client-2-thumb-2"></div>
			</a>
			<a href='#' onclick = "document.getElementById('client-2-main-img').style.backgroundImage = 'url(http://www.ruffryders.com/main/images/Recording_Studio.jpg)';">
				<div class="client-thumb-3" id="client-2-thumb-3"></div>
			</a>
			<p>Lorem ipsum dolor sit amet, cu eros eligendi mea, sea expetendis persequeris accommodare ut, mel saepe partiendo disputando ut. Eum numquam phaedrum ne, eu graece vocibus fabellas mel. Eu prompta maluisset elaboraret mei, sed et amet ferri reprimique, justo omnesque moderatius eu eum. Sit sensibus mnesarchum at, et pri molestie oportere. Agam nullam delicatissimi ex qui. Interesset appellantur eos ex, vis eu exerci utamur eruditi.</p>
		</div>	
	</div>
	<div class="client-info" data-link="third" >
		<h6>Music Production Client 3</h6>
		<div class="client-main-img" id="client-3-main-img"></div>
		<div>
			<a href='#' onclick = "document.getElementById('client-3-main-img').style.backgroundImage = 'url(http://files.clubplanet.com/sitefiles/ArticleImages/1724/FirstClass1.jpg)';">
				<div class="client-thumb-1" id="client-3-thumb-1"></div>
			</a>
			<a href='#' onclick = "document.getElementById('client-3-main-img').style.backgroundImage = 'url(https://sphotos-a.xx.fbcdn.net/hphotos-ash4/p480x480/384514_10151044691246791_464170861_n.jpg)';">
				<div class="client-thumb-2" id="client-3-thumb-2"></div>
			</a>
			<a href='#' onclick = "document.getElementById('client-3-main-img').style.backgroundImage = 'url(http://farm5.staticflickr.com/4115/4873933312_c361921ba7_z.jpg)';">
				<div class="client-thumb-3" id="client-3-thumb-3"></div>
			</a>
			<p>Lorem ipsum dolor sit amet, cu eros eligendi mea, sea expetendis persequeris accommodare ut, mel saepe partiendo disputando ut. Eum numquam phaedrum ne, eu graece vocibus fabellas mel. Eu prompta maluisset elaboraret mei, sed et amet ferri reprimique, justo omnesque moderatius eu eum. Sit sensibus mnesarchum at, et pri molestie oportere. Agam nullam delicatissimi ex qui. Interesset appellantur eos ex, vis eu exerci utamur eruditi.</p>
		</div>	
	</div>
	</div>
</div>
</body>
