<footer>
<div id="home-footer">
  <div id="footer-address">The Neat Nest<br/>6030 Daybreak Circle, Suite A150<br/>Clarksville, MD 21029<br/>(443) 824-6754
  </div>
  <div id="footer-social-media-icons">
    <div id="footer-twitter-icon" class="circular"></div>
    <div id="footer-facebook-icon" class="circular"></div>
    <div id="footer-pinterest-icon" class="circular"></div>
  </div>
  <p id="footer-credits">2013 Neat Nest Maid Service / Design by Gia + Tim / Development by Josh Sheller</p>
  <div id="footer-mail-img"></div>
  <p id="join-mail">Join our mailing list:</p>
  <div id="email-form">
    <script type="text/javascript" src="http://secure.jotform.co/jsform/32854996146872"></script>
  </div>
</div>
</footer>